<div class="repo-page">
    <div class="commits-container">
        <div class="commit clearfix" ng-repeat="commit in repo.commits">
            <img class="float-left" src="{{commit.author.avatar_url}}" alt="">
            <div class="info-line">
                <div>
                    <span class="branch-name" ng-bind=":: repo.branch"></span>: <span class="commit-message" ng-bind=":: commit.commit.message"></span>
                </div>
                <div>
                    <span class="commit-author" ng-bind=":: commit.author.login"></span> committed <span class="commit-date" ng-bind=":: repo.dateParse(commit.commit.committer.date)"></span>
                    <span class="float-right" ng-bind=":: 'commit: '+ commit.sha">commit: </span>
                </div>

            </div>
        </div>
        <div class="refresh-button-container">
            <refresh-button ng-click="repo.refreshPage()"></refresh-button>
        </div>
    </div>
</div>