.repo-page {
    padding: 10px 10px 30px 10px;
}
.repo-page .commit {
    padding: 10px;
    background: #E6F1F6;
    margin-bottom: 10px;
    border-bottom: .1rem solid #9b4dca;
    overflow: hidden;
}
.repo-page .commit img {
    width: 40px;
    border: 1px solid #000;
    border-radius: 4px;
}
.repo-page .commit .info-line {
    padding-left: 50px;
}
.repo-page .commit .info-line div {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
}
.repo-page .commit .info-line div:last-child {
    margin-bottom: 0;
}
.repo-page .commit .branch-name,
.repo-page .commit .commit-message {
    font-weight: 700;
    color: #586266;
}
.repo-page .commit .commit-author,
.repo-page .commit .commit-date {
    font-weight: 600;
    color: #616c70;
}
/*refresh button*/
.repo-page .refresh-button-container {
    text-align: center;
}