<div class="search-page">
    <div class="row">
        <form class="search-form" ng-submit="search.searchBy(search.tags)">
            <label>Search</label>
            <tags-input
                    class="tags-input"
                    placeholder="input, what you want to search"
                    add-on-enter="true"
                    add-on-space="true"
                    add-on-comma="true"
                    add-on-blur="true"
                    add-on-paste="true"
                    on-tag-adding="search.clearArray(search.repoes)"
                    ng-model="search.tags">
            </tags-input>
            <div class="clearfix">

                <input class="button button-outline float-right" type="submit" value="Send">
            </div>

        </form>
    </div>
    <div class="row">
    <div class="searched-results-container" ng-if="search.repoes && search.repoes.length && search.repoes.length > 0">
        <div class="searched-results">
            <label>Searched Results</label>
            <div class="searched-result" ng-repeat="repo in search.repoes | orderBy: 'author.login'" ng-click="search.goToRepo(repo)">
                <div>
                    Name: <span ng-bind=":: repo.name"></span>
                </div>
                <div>
                    Created: <span ng-bind=":: search.dateParse(repo.created_at)"></span>
                </div>
                <div>
                    Last update: <span ng-bind=":: search.dateParse(repo.updated_at)"></span>
                </div>
                <div>
                    ID: <span ng-bind=":: repo.id"></span>
                </div>
            </div>
        </div>
        <div class="searched-pagination"
             paging
             page="search.pagination.page"
             page-size="10"
             total="search.pagination.total"
             paging-action="search.paginationSearch(search.tags, page)">
        </div>
    </div>
    <div class="error-message" ng-if="search.error.show">
        Something wrong. Please, try another page.
    </div>
    </div>
</div>