.search-page {
    padding: 10px;
}
.search-page .error-message,
.search-page .searched-results-container,
.search-page .search-form {
    width: 60%;
    margin: 0 auto 20px;
}
/*tags input settings*/
.search-page .tags-input {
    width: 100%!important;
    margin-bottom: 15px;
}
.search-page .tags-input .host {
    width: 100%!important;
}
.search-page .tags-input .tags{
    border: .1rem solid #9b4dca;
    border-radius: .4rem;
    width: 100%!important;
}
.search-page .tags-input .focused {
    width: 100%!important;
}

/*searched results settings*/
.search-page .searched-results {
    margin-bottom:30px;
}
.search-page .searched-result {
    cursor: pointer;
    padding: 10px;
    border-bottom: .1rem solid #9b4dca;
}
.search-page .searched-result:hover {
    background: #e6e6e3;
    color: #9b4dca;
    box-shadow: 0px 0px 10px #9b4dca;
}
/*error message*/
.search-page .error-message {

}
@media screen and (max-width:768px) {
    .search-page .error-message,
    .search-page .searched-results-container,
    .search-page .search-form {
        width: 90%;
    }
}