body {
    margin: 0;
    padding: 0;
}
/*pagination*/
ul.pagination {
    list-style: none;
    text-align: center;
}
ul.pagination li {
    display: inline;
    border: .1rem solid #9b4dca;
    padding: 8px 8px 8px 10px;
    margin-right: 3px;
    /*selecting disable*/
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
ul.pagination li:last-child {
    margin-right: 0;
}
ul.pagination li.active {
    background: #9b4dca;
}
ul.pagination li.active a {
    color: #fff;
}
/*helpers*/
.float-cleaner {
    clear: both;
}
.button {
    cursor: pointer;
}