<div class="welcome-page">
   <div class="row">
       <div class="introduction">
           Its a test App. With the help of it you can search repos on the github and view reviews/comments.
       </div>
       <div class="introduction">
           For launching App use Gulp.js
       </div>
   </div>
    <div class="row">
        To start "search" press&#160;<a href="/#/search">this</a>.
    </div>
</div>