.refresh-button-directive {
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.refresh-button-directive .refresh-button-container {
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid #666;
    box-shadow: 2px 2px 0 #fff inset, -2px -2px 0 #fff inset;
    background: radial-gradient(circle at 50% 50%, #737373, #cbcbcb);
    transition-property: box-shadow;
    transition-duration: 0.5s;
}
.refresh-button-directive .refresh-button {
    border-radius: 5px;
    padding: 1px 20px;
    display: inline-block;
    box-shadow: 0px 0px 10px #545454;
    background: linear-gradient(#e3e3e3 34%, #b0b0b0 76%);
    transition-property: background;
    transition-duration: 0.5s;
}
.refresh-button-directive .refresh-button-text {
    font-weight: 900;
    font-size: 13px;
    color: #606c76;
    transition-property: color;
    transition-duration: 0.5s;
}
.refresh-button-directive .refresh-button-text:before,
.refresh-button-directive .refresh-button-text:after {
    content: "\2605";
}
/*css3 effects*/
.refresh-button-directive:hover .refresh-button-container {
    box-shadow: none;
}
.refresh-button-directive:hover .refresh-button {
    background: linear-gradient(#b0b0b0 34%, #e0e0e0 76%);
}
.refresh-button-directive:hover .refresh-button-text {
    color: #fff;
}